In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sqr_no_comments.csv')

In [3]:
df_1 = pd.read_csv('batch_0-100_comments.csv')

In [4]:
df_2 = pd.read_csv('batch_100-150_comments.csv')

In [5]:
df_3 = pd.read_csv('batch_150-200_comments.csv')

In [6]:
df_4 = pd.read_csv('batch_200-300_comments.csv')

In [7]:
df_5 = pd.read_csv('batch_300-400_comments.csv')

In [8]:
df_6 = pd.read_csv('batch_400-500_comments.csv')

In [9]:
df_7 = pd.read_csv('batch_500-600_comments.csv')

In [10]:
df_8 = pd.read_csv('batch_600-650_comments.csv')

In [11]:
df_9 = pd.read_csv('batch_650-700_comments.csv')

In [12]:
df_10 = pd.read_csv('batch_700-800_comments.csv')

In [13]:
df_11 = pd.read_csv('batch_800-900_comments.csv')

In [14]:
df_12 = pd.read_csv('batch_900-1000_comments.csv')

In [15]:
df_13 = pd.read_csv('batch_1000-end_comments.csv')

In [16]:
batch_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13], ignore_index = True)

In [17]:
# Add comments to sqr dataframe
df['comments'] = batch_df['comments']

In [18]:
# Remove schools with no comments
df = df[df['comments'] != '[]']

In [19]:
# Reset index
df = df.reset_index(drop=True)

In [20]:
# Create borough column
df['borough'] = df.dbn.str.extract(r'([A-Z]+)',expand=False)

In [21]:
# Change dbn letter to borough names
df['borough'] = df['borough'].replace('M', 'manhattan')
df['borough'] = df['borough'].replace('K', 'brooklyn')
df['borough'] = df['borough'].replace('R', 'staten_island')
df['borough'] = df['borough'].replace('X', 'bronx')
df['borough'] = df['borough'].replace('Q', 'queens')

In [28]:
# Add sqr_score as an average of fam_comm_ties_rating and trust_rating. 
df['sqr_rating'] = df.loc[:,['fam_comm_ties_rating','trust_rating']].mean(axis=1)

If we take the average of the fam_comm_ties_rating and trust_rating scores we can get one of seven values: .250, .375, .500, .625, .750, .875, 1.00 

<br>

| |.250|.500|.750|1.00|
|-|-|-|-|-|
|**.250**|.250|.375|.500|.625|
|**.500**|.375|.500|.625|.750|
|**.750**|.500|.625|.750|.875|
|**1.00**|.625|.750|.875|1.00|

In [29]:
df

,dbn,school_name,school_type,fam_comm_ties_rating,trust_rating,pct_pos_fam_comm_ties,pct_pos_trust,pct_ell,pct_disabilities,pct_self_contained,...,pct_temp_housing,pct_hra_eligible,pct_asian,pct_black,pct_hispanic,pct_white,student_attendance_rate,comments,borough,sqr_rating
0,01M015,P.S. 015 Roberto Clemente,Elementary,1.00,0.75,0.97,0.94,0.050,0.230,0.006,...,0.398,0.770,0.124,0.280,0.553,0.037,0.928,['P.S. 15 is an extraordinary small school tha...,manhattan,0.875
1,01M019,P.S. 019 Asher Levy,Elementary,1.00,0.75,0.98,0.91,0.033,0.427,0.113,...,0.155,0.548,0.059,0.218,0.623,0.067,0.909,"['Wrong person', ""The negative comments don't ...",manhattan,0.875
2,01M020,P.S. 020 Anna Silver,Elementary,0.75,0.75,0.95,0.86,0.144,0.264,0.093,...,0.164,0.647,0.289,0.130,0.506,0.036,0.925,['While we have always lived with the notion t...,manhattan,0.750
3,01M034,P.S. 034 Franklin D. Roosevelt,K-8,0.75,0.50,0.94,0.76,0.076,0.392,0.028,...,0.295,0.875,0.028,0.330,0.601,0.028,0.885,['The DOE has tabled a proposal to combine PS ...,manhattan,0.625
4,01M063,The STAR Academy - P.S.63,Elementary,1.00,0.75,0.96,0.92,0.019,0.362,0.019,...,0.261,0.623,0.019,0.213,0.652,0.082,0.908,"[""This school is an amazing school because we ...",manhattan,0.875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,32K377,P.S. 377 Alejandrina B. De Gautier,Elementary,0.75,0.75,0.96,0.88,0.133,0.289,0.156,...,0.126,0.756,0.000,0.244,0.748,0.007,0.916,"['Does anyone remember Mr. Corlito, 6th grade ...",brooklyn,0.750
1001,32K383,J.H.S. 383 Philippa Schuyler,Middle,0.50,0.50,0.88,0.80,0.058,0.167,0.070,...,0.103,0.644,0.046,0.345,0.571,0.023,0.944,['The District 32 Community Education Council ...,brooklyn,0.500
1002,32K384,P.S. /I.S. 384 Frances E. Carter,K-8,0.75,1.00,0.94,0.94,0.265,0.290,0.158,...,0.145,0.840,0.006,0.118,0.870,0.004,0.917,['P.S./I.S. 384 principal Phyllis Raulli said ...,brooklyn,0.875
1003,32K554,All City Leadership Secondary School,Middle,1.00,1.00,0.96,0.95,0.022,0.072,0.000,...,0.061,0.522,0.083,0.067,0.694,0.150,0.974,['for the 7th graders are you required to wear...,brooklyn,1.000
1004,32K562,Evergreen Middle School for Urban Exploration,Middle,0.75,1.00,0.93,0.93,0.165,0.230,0.057,...,0.246,0.843,0.008,0.219,0.754,0.019,0.949,"[""Subbed at this school Twice, admins are rude...",brooklyn,0.875

In [30]:
# Convert to csv
df.to_csv('sqr_&_comments.csv', index=False)